.contact{
    padding-top: 4em;
    background: #f5f6f7;
}
.contact--header{
    margin-bottom: 2em;
}
.contact--content{
    width:60em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
}
.contact--form{
    background-color: #ffffff;
}
.contact--row{
    padding: 1.5em;
}
.contact--field{
    margin-bottom: 2.15em;
    border-radius: 0.6em;
}
textarea{
    border-radius: 0.6em !important;
}
.contact--button{
    padding-bottom: 1.5em;
}
button{
    border-radius: 3em !important;
}