.contact{
    padding: 6em 0 6em 0;
    background: #f5f6f7;
    position: relative;
}
.contact--content{
    width:60em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
}
.contact--form{
    background-color: #ffffff;
}
.contact--row{
    padding: 1.5em;
}
.contact--field{
    margin-bottom: 2.15em;
}
.contact--button{
    padding-bottom: 1.5em;
}