header{
font-size: 1em;
}

@media all and (max-width: 960px){
  .customized-nav{
    width: 100%;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: center; /* Safari 6.1+ */
    display: flex;
    justify-content: center;
  }

  .menu-ul{
    margin-right: 0px!important;
  }

  .menu-ul li{
    padding-right: 8px;
    padding-left: 8px;
  }

  .language-ul{
    font-size: 0.8em;
  }
  .language-ul li{
    padding: 0.2em 0.5em 0 0.5em;
  }

}