header{
font-size: 0.8em;
}
.flag{
  width:20px;
  height:20px;
  border-radius: 50%;
}
.logo{
  width: 36px;
  height: 36px;
}
.navbar-dark{
  background: black;
  opacity: 0.6;
}
@media all and (max-width: 960px){
  .customized-nav{
    width: 100%;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: center; /* Safari 6.1+ */
    display: flex;
    justify-content: center;
  }

  .menu-ul{
    margin-right: 0px!important;
  }

  .menu-ul li{
    padding-right: 8px;
    padding-left: 8px;
  }

  .language-ul li{
    padding: 0.2em 0.5em 0 0.5em;
  }

}