.service{
    padding: 4em 0 6em 0;;
    background: #f5f6f7;
    margin: 0 auto;
    max-width:100%;
}
.service-header{
    margin-bottom: 2em;
}
.service-card:hover{
   box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}
.service-row{
    margin-left: 0;
    position: static !important;
}
.card-header--bg{
    background-color: #007bff !important;
}
p{
    font-size: 1rem;
}