.service{
    padding: 4em 2em 2em 2em;
    background: #f5f6f7;
    margin: 0 auto;
    max-width:100%;
}
.service-header{
    margin-bottom: 1.2em;
}
.card-body-custom {
    padding: 0 0 1.25rem 0;
}
.card-title-custom {
    padding: 1rem;
    background-color: #007bff !important;
}
.card {
    transition: transform .2s;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0.5em 2em 0 rgba(54,68,75,.18);
}
p{
    font-size: 1rem;
}
.card-text-custom {
    padding: 1rem;
}