.imgStyles {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*mobile size*/
@media screen and (max-width: 736px) {
    .imgStyles{
        height: 100%;
    }
}