.slide-custom{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow:hidden;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 1;
    background-color: rgba(11,15,15,0.6);
}

.imgStyle{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*
.slide{
    min-width: 100%;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
}

%btn-style{
    position: absolute;
    top: 50%;
    font-size: 1em !important;
    padding: 0 1em 0 1em !important;
    height: 2em;
    line-height: 2em;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
    transition:0.5s;
    color: #f8f9fa;
    z-index: 10;
}
#goLeft{
    left: 0;
    @extend %btn-style;
}
#goRight{
    right: 0;
    @extend %btn-style;
}

%btn-hover-style{
    cursor: pointer;
    background:rgba(0,0,0,0.356);
    color: #007bff;
}
#goLeft:hover{
    @extend %btn-hover-style;
}

#goRight:hover{
    @extend %btn-hover-style;
}

.row{
    position: absolute;
    bottom: 25px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    z-index: 10;
}

@media screen and (max-width: 736px) {
    .slide{
        height: 100vh;
    }
}
*/