/* HTML5 new elements reset for older browers */
footer, header, menu, nav{
  display:block;
}

ol{
  list-style: none;
}

body{
  font-size: 18pt;
  line-height: 1.75em;
  letter-spacing: 0.025em;
}

